Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2018-11, with the labels that each got.

#1362 Integrate MCNN (Molecular Convolutional Neural Network) thermo estimator with RMG
  environment_linux.yml
  environment_mac.yml
  environment_windows.yml
  examples/rmg/commented/input.py
  examples/rmg/minimal_ml/RMG.sh
  examples/rmg/minimal_ml/input.py
  meta.yaml
  rmgpy/data/thermo.py
  rmgpy/data/thermoTest.py
  rmgpy/ml/__init__.py
  rmgpy/ml/estimator.py
  rmgpy/ml/estimator_test.py
  rmgpy/rmg/input.py
  rmgpy/rmg/inputTest.py
  rmgpy/rmg/main.py
Labels: Complexity: Medium, Status: Review Needed, Topic: Thermo, Twin RMG-database PR, Type: Feature

#1502 Revert changes to CBS-QB3 bond corrections in Cantherm
  documentation/source/users/cantherm/input.rst
  rmgpy/cantherm/statmech.py
Labels: Complexity: Low, Module: Cantherm, Status: Review Needed

#1500 Improve kekulization algorithm for reacting PAHs
  rmgpy/molecule/kekulize.pyx
  rmgpy/molecule/kekulizeTest.py
Labels: Complexity: Low, Module: Resonance, Status: Review Needed, Topic: Aromatics

#1503 Remove extra quotes from pretty repr of references classes
  rmgpy/data/reference.py
Labels: Complexity: Low, Status: Review Needed, Type: Bug

#1510 Modified the atom-symbol dictionary used in Arkane's statmech
  arkane/statmech.py
Labels: Arkane
