Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2018-09, with the labels that each got.

#1465 BugFix: Providing an exception to raise in Cantherm's pdep.py
  rmgpy/cantherm/pdep.py
Labels: Complexity: Low, Module: Cantherm, Type: Bug

#1454 Branching Algorithm
  examples/rmg/propane_branching/input.py
  rmgpy/rmg/input.py
  rmgpy/rmg/settings.py
  rmgpy/solver/base.pyx
Labels: Complexity: High, Status: Review Needed, Topic: Model Growth

#1449 Added S atom corrections at CCSD(T)-F12/aug-cc-pVnZ to Cantherm's statmech
  documentation/source/users/cantherm/input.rst
  rmgpy/cantherm/statmech.py
Labels: Module: Cantherm

#1418 Added lone pair / multiple bond resonance pathway in a 3-atom system
  documentation/source/reference/molecule/atomtype.rst
  documentation/source/users/rmg/database/introduction.rst
  rmgpy/molecule/atomtype.py
  rmgpy/molecule/atomtypeTest.py
  rmgpy/molecule/filtration.py
  rmgpy/molecule/filtrationTest.py
  rmgpy/molecule/molecule.pxd
  rmgpy/molecule/molecule.py
  rmgpy/molecule/pathfinder.pxd
  rmgpy/molecule/pathfinder.py
  rmgpy/molecule/pathfinderTest.py
  rmgpy/molecule/resonance.pxd
  rmgpy/molecule/resonance.py
  rmgpy/molecule/resonanceTest.py
  rmgpy/molecule/translatorTest.py
  rmgpy/speciesTest.py
Labels: Module: Resonance, Type: Feature

#1462 Move Forbidden Structure Checking from Edge to Core (Edgeless RMG Part 1)
  rmgpy/cantherm/explorer.py
  rmgpy/data/kinetics/family.py
  rmgpy/rmg/model.py
  rmgpy/species.pxd
  rmgpy/species.py
Labels: Complexity: Medium, Epic, Status: Review Needed, Topic: Performance

#1452 Benzyne resonance structures
  rmgpy/molecule/molecule.py
  rmgpy/molecule/resonance.pxd
  rmgpy/molecule/resonance.py
  rmgpy/molecule/resonanceTest.py
Labels: Module: Resonance, Status: Review Needed, Topic: Aromatics, Type: Feature

#1472 Fix Cantherm Kc Output to Match Units
  rmgpy/cantherm/kinetics.py
Labels: Complexity: Low, Module: Cantherm, Type: Bug
