Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2018-08, with the labels that each got.

#1450 Adjust file paths for the collision violators log
  rmgpy/rmg/main.py
Labels: Complexity: Low, Status: Review Needed, Type: User Experience

#1453 Improved isotope support in converter and translator modules
  rmgpy/molecule/converter.py
  rmgpy/molecule/converterTest.py
  rmgpy/molecule/translatorTest.py
Labels: Complexity: Low, Status: Review Needed, Topic: Isotopes, Type: Bug

#1438 Bug fix: Loading a species' thermo from the database in Cantherm
  rmgpy/cantherm/input.py
Labels: Module: Cantherm, Type: Bug

#1458 Create Cantherm Plot Directory in Output Directory Location
  rmgpy/cantherm/kinetics.py
  rmgpy/cantherm/sensitivity.py
  rmgpy/cantherm/thermo.py
Labels: Complexity: Low, Module: Cantherm, Platform: Windows, Status: Review Needed, Type: Bug
