Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2018-12, with the labels that each got.

#1515 Forbid carbenes from lone pair resonance transitions
  rmgpy/molecule/pathfinder.py
Labels: Complexity: Low, Module: Resonance

#1520 Skip TCD unit tests
  rmgpy/data/thermoTest.py
Labels: Complexity: Low, Status: Review Needed, Type: Testing

#1511 Added an Arkane test that runs all its examples
  Makefile
  arkane/commonTest.py
  arkane/mainTest.py
  examples/arkane/reactions/23dimethylpropoxy/input.py
  examples/arkane/species/Toulene_Free_Rotor/TolueneEnergy.log
  examples/arkane/species/Toulene_Free_Rotor/TolueneFreq.log
  examples/arkane/species/Toulene_Free_Rotor/input.py
  examples/arkane/species/Toulene_Free_Rotor/toluene_FreeRotor.py
  examples/arkane/species/Toulene_Hindered_Rotor/TolueneEnergy.log
  examples/arkane/species/Toulene_Hindered_Rotor/TolueneFreq.log
  examples/arkane/species/Toulene_Hindered_Rotor/TolueneRot1.log
  examples/arkane/species/Toulene_Hindered_Rotor/input.py
  examples/arkane/species/Toulene_Hindered_Rotor/toluene_HinderedRotor.py
Labels: Arkane

#1446 Added atomEnergy corrections for wB97X-D-aVTD chemistry
  arkane/statmech.py
  documentation/source/users/arkane/input.rst
Labels: Arkane, Complexity: Low, Type: Feature

#1523 Corrected 'ccsd(t)-f12/cc-pvtz-f12' frequency scaling factor
  arkane/statmech.py
Labels: Arkane

#1522 Allow a BAC dictionary to be assigned to a StatMechJob object
  arkane/statmech.py
Labels: Arkane

#1524 Machine learning estimator settings
  documentation/source/users/rmg/credits.rst
  documentation/source/users/rmg/input.rst
  examples/rmg/commented/input.py
  examples/thermoEstimator/input_ml.py
  examples/thermoEstimator/run_ml.sh
  rmgpy/data/thermo.py
  rmgpy/data/thermoTest.py
  rmgpy/molecule/graph.pxd
  rmgpy/molecule/graph.pyx
  rmgpy/molecule/graphTest.py
  rmgpy/rmg/input.py
Labels: Complexity: Medium, Status: Review Needed, Type: Feature

#1501 Parse MRCI energies from molpro log files
  arkane/data/molpro_mrci+q.out
  arkane/data/molpro_mrci.out
  arkane/molpro.py
  arkane/molproTest.py
Labels: Arkane

#1512 Output unscaled frequencies in Arkane's supporting information file
  arkane/gaussian.py
  arkane/gaussianTest.py
  arkane/main.py
  arkane/molpro.py
  arkane/molproTest.py
  arkane/qchem.py
  arkane/qchemTest.py
  arkane/statmech.py
Labels: Arkane

#1519 Added another parsing phrase to QChem loadEnergy()
  arkane/qchem.py
  arkane/qchemTest.py
  arkane/statmech.py
Labels: Arkane

#1498 Make Kekule structures non-representative and refactor aromatic resonance
  rmgpy/data/kinetics/family.py
  rmgpy/data/thermoTest.py
  rmgpy/molecule/filtration.py
  rmgpy/molecule/filtrationTest.py
  rmgpy/molecule/graph.pxd
  rmgpy/molecule/graph.pyx
  rmgpy/molecule/group.py
  rmgpy/molecule/resonance.pxd
  rmgpy/molecule/resonance.py
  rmgpy/molecule/resonanceTest.py
  rmgpy/molecule/symmetryTest.py
  rmgpy/rmg/model.py
  rmgpy/species.py
  rmgpy/test_data/testing_database/kinetics/families/R_Addition_MultipleBond/groups.py
Labels: Complexity: Medium, Module: Resonance, Status: Review Needed, Topic: Aromatics

#1525 Enable enumeration of bond types present in a molecule
  rmgpy/molecule/molecule.pxd
  rmgpy/molecule/molecule.py
  rmgpy/molecule/moleculeTest.py
Labels: Complexity: Low, Module: Molecule, Status: Review Needed, Type: Feature
