Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2019-11, with the labels that each got.

#1793 Include Arkane in code coverage report
  .coveragerc
  Makefile
Labels: Arkane, Status: Ready for Review, Type: Bug

#1802 Fix PES figure generation in png format
  rmgpy/pdep/draw.py
Labels: Complexity: Low, Status: Ready for Review, Topic: PDep, Type: Bug

#1766 Add LogError to raise LogError for unconverged gaussian log file
  arkane/data/error_termination.out
  arkane/gaussian.py
  arkane/gaussianTest.py
Labels: Complexity: Low, Module: Logging

#1798 Revert 'spin_multiplicity' to 'spinMultiplicity' in Arkane pdep
  arkane/pdep.py
Labels: Arkane, Type: Bug

#1794 Rename submodules in rmgpy.tools
  ipython/mechanism_analyzer.ipynb
  rmgpy/rmg/main.py
  rmgpy/tools/canteramodel.py
  rmgpy/tools/canteramodelTest.py
  rmgpy/tools/ckcsvparser.py
  rmgpy/tools/diffmodels.py
  rmgpy/tools/diffmodelsTest.py
  rmgpy/tools/fluxdiagramTest.py
  rmgpy/tools/generatereactions.py
  rmgpy/tools/generatereactionsTest.py
  rmgpy/tools/mergemodels.py
  rmgpy/tools/mergemodelsTest.py
  rmgpy/tools/observablesregression.py
  rmgpy/tools/regression.py
  scripts/checkModels.py
  scripts/diffModels.py
  scripts/generateReactions.py
  scripts/mergeModels.py
  scripts/rmg2to3.py
Labels: Complexity: Low, Status: Ready for Review, Type: Code Organization

#1815 Gaussian energies
  arkane/data/B2PLYP.LOG
  arkane/data/UCCSDT_C_ATOM.LOG
  arkane/data/UCCSD_C_ATOM.LOG
  arkane/data/UMP2_C_ATOM.LOG
  arkane/gaussian.py
  arkane/gaussianTest.py
Labels: Arkane

#1799 Test and fix Molecule.remove_van_der_waals_bonds
  rmgpy/molecule/group.py
  rmgpy/molecule/molecule.py
  rmgpy/molecule/moleculeTest.py
Labels: Complexity: Low, Status: Ready for Review, Type: Bug

#1810 Arkane bugfixes
  arkane/data/hr_scan_with_freq.log
  arkane/data/isobutanolQOOH_scan.log
  arkane/gaussian.py
  arkane/gaussianTest.py
  arkane/input.py
  arkane/statmech.py
  rmgpy/pdep/configuration.pyx
  rmgpy/pdep/configurationTest.py
  rmgpy/pdep/network.py
  rmgpy/pdep/networkTest.py
  rmgpy/quantity.py
  rmgpy/reaction.py
Labels: Arkane, Topic: PDep, Type: Bug

#1818 Fix cdef
  rmgpy/statmech/rotation.pxd
  rmgpy/statmech/rotation.pyx
  rmgpy/statmech/torsion.pxd
  rmgpy/statmech/torsion.pyx
  rmgpy/thermo/nasa.pxd
  rmgpy/thermo/nasa.pyx
Labels: Complexity: Low, Good First Issue, Module: Cython, Status: Ready for Review, Type: Bug

#1806 Minor: updated parts of the commented input.py file
  examples/rmg/commented/input.py
Labels: Complexity: Low, For Next Release, Good First Issue, Type: Documentation

#1807 Update isotope documentation
  documentation/source/users/rmg/modules/isotopes.rst
Labels: For Next Release, Type: Documentation

#1808 Arkane pdep py3 fixes
  arkane/statmech.py
Labels: Arkane, Complexity: Low, For Next Release, Py3, Topic: PDep, Type: Bug

#1788 Terachem
  arkane/common.py
  arkane/commonTest.py
  arkane/data/gaussian/ethylene.log
  arkane/data/gaussian/ethylene_G3.log
  arkane/data/gaussian/oxygen.log
  arkane/data/molpro/HOSI_ccsd_t1.out
  arkane/data/molpro/OH_f12.out
  arkane/data/molpro/TS_CCSD(T)_no_F12_sp_molpro.out
  arkane/data/molpro/ethylene_f12_dz.out
  arkane/data/molpro/ethylene_f12_qz.out
  arkane/data/molpro/molpro_TS.out
  arkane/data/molpro/molpro_mrci+q.out
  arkane/data/molpro/molpro_mrci.out
  arkane/data/qchem/CH4_sp.out
  arkane/data/qchem/co.out
  arkane/data/qchem/npropyl.out
  arkane/data/terachem/ethane_coords.xyz
  arkane/data/terachem/ethane_minimize_output.out
  arkane/data/terachem/ethane_output.geometry
  arkane/data/terachem/ethanol_freq_output.out
  arkane/data/terachem/ethanol_scan_terachem_output.out
  arkane/data/terachem/ethylamine_freq_output.out
  arkane/data/terachem/failed_freq_job.out
  arkane/data/terachem/formaldehyde_coords.xyz
  arkane/data/terachem/formaldehyde_freq_output.out
  arkane/data/terachem/formaldehyde_output.geometry
  arkane/data/terachem/formaldehyde_sp_terachem_output.out
  arkane/data/terachem/formaldehyde_sp_terachem_results.dat
  arkane/encorr/corr.py
  arkane/explorerTest.py
  arkane/input.py
  arkane/inputTest.py
  arkane/kineticsTest.py
  arkane/logs/gaussian.py
  arkane/logs/gaussianTest.py
  arkane/logs/log.py
  arkane/logs/molpro.py
  arkane/logs/molproTest.py
  arkane/logs/orca.py
  arkane/logs/orcaTest.py
  arkane/logs/qchem.py
  arkane/logs/qchemTest.py
  arkane/logs/terachem.py
  arkane/logs/terachemTest.py
  arkane/main.py
  arkane/mainTest.py
  arkane/output.py
  arkane/outputTest.py
  arkane/pdepTest.py
  arkane/statmech.py
  arkane/statmechTest.py
  arkane/thermoTest.py
  arkane/util.py
  arkane/utilTest.py
  rmgpy/molecule/molecule.py
Labels: Arkane, For Next Release, Type: Feature

#1773 Fix solvaion radical bug
  rmgpy/data/solvation.py
  rmgpy/data/solvationTest.py
Labels: For Next Release
