Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2019-05, with the labels that each got.

#1496 Update charge after using the NH3_elimination families
  rmgpy/data/kinetics/family.py
Labels: Complexity: Low, Topic: Kinetics

#1592 Parse CCSD(T) energies (no F12) in Molpro
  arkane/data/TS_CCSD(T)_no_F12_sp_molpro.out
  arkane/gaussian.py
  arkane/log.py
  arkane/molpro.py
  arkane/molproTest.py
  arkane/qchem.py
Labels: Arkane

#1600 Fix resonance structure generation and filtration bugs
  rmgpy/molecule/molecule.py
  rmgpy/molecule/resonance.py
  rmgpy/molecule/resonanceTest.py
Labels: Module: Resonance, Status: Review Needed, Type: Bug

#1603 Correct NotImplementedError messages in Arkane log.py
  arkane/log.py
Labels: Type: User Experience

#1601 Determine a species linearity from xyz
  arkane/statmech.py
  arkane/statmechTest.py
  documentation/source/users/arkane/input.rst
  examples/arkane/reactions/23dimethylpropoxy/dimetpropoxy.py
  examples/arkane/reactions/23dimethylpropoxy/dimetpropoxy_betasci.py
  examples/arkane/reactions/CH3OH+HCO/ch3oh.py
  examples/arkane/reactions/CH3OH+HCO/hco.py
  examples/arkane/reactions/CH3OH+HCO/ts.py
  examples/arkane/species/Benzyl/benzyl.py
  examples/arkane/species/C2H4/ethene.py
  examples/arkane/species/C2H5/ethyl.py
  examples/arkane/species/H/H.py
  examples/arkane/species/Toulene_Free_Rotor/toluene_FreeRotor.py
  examples/arkane/species/Toulene_Hindered_Rotor/toluene_HinderedRotor.py
Labels: Arkane

#1597 Modify test-database make target to not capture stdout and log
  Makefile
Labels: Complexity: Low, Status: Review Needed, Type: User Experience

#1329 Chemical identity comparison for Molecules and Species
  rmgpy/data/kinetics/common.py
  rmgpy/data/kinetics/database.py
  rmgpy/data/kinetics/family.py
  rmgpy/data/kinetics/kineticsTest.py
  rmgpy/molecule/graph.pxd
  rmgpy/molecule/graph.pyx
  rmgpy/molecule/group.pxd
  rmgpy/molecule/group.py
  rmgpy/molecule/molecule.pxd
  rmgpy/molecule/molecule.py
  rmgpy/molecule/moleculeTest.py
  rmgpy/molecule/translator.py
  rmgpy/molecule/vf2.pxd
  rmgpy/molecule/vf2.pyx
  rmgpy/reaction.pxd
  rmgpy/reaction.py
  rmgpy/reactionTest.py
  rmgpy/rmg/model.py
  rmgpy/rmg/modelTest.py
  rmgpy/rmg/rmgTest.py
  rmgpy/species.pxd
  rmgpy/species.py
  rmgpy/speciesTest.py
  rmgpy/tools/isotopes.py
Labels: Complexity: Medium, Module: Molecule, Status: Review Needed, Topic: Performance
