Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2019-08, with the labels that each got.

#1672 Fix kinetics fitting with Tmin & Tmax in Arakne
  arkane/kinetics.py
  arkane/kineticsTest.py
  documentation/source/users/arkane/input.rst
Labels: Arkane, Complexity: Low, Topic: Kinetics, Type: Bug, Type: Code Organization, Type: Documentation, Type: Testing

#1647 Automatic Network Generation 3
  arkane/data/methoxy_explore.py
  arkane/explorer.py
  rmgpy/rmg/pdep.py
  rmgpy/rmg/pdepTest.py
Labels: Arkane, BeforePy3, Complexity: Medium

#1675 skip generation when # tree reactants != # given reactants
  rmgpy/data/kinetics/family.py
  rmgpy/data/kinetics/familyTest.py
  rmgpy/test_data/testing_database/kinetics/families/R_Recombination/groups.py
Labels: BeforePy3, Emergency, Type: Bug

#1677 Reduce species copying and resonance structure generation when reacting
  rmgpy/data/kinetics/common.py
  rmgpy/data/kinetics/kineticsTest.py
  rmgpy/rmg/react.py
Labels: Topic: Performance

#1676 fix bug with duplicate library reactions
  rmgpy/data/kinetics/library.py
Labels: Type: Bug

#1686 Upgrade Modules to Python 3
  environment_linux.yml
  environment_mac.yml
  environment_py3.yml
  environment_windows.yml
  external/wip.py
  requirements.txt
  rmg.py
  rmgpy/__init__.py
  rmgpy/chemkinTest.py
  rmgpy/constantsTest.py
  rmgpy/constraints.py
  rmgpy/constraintsTest.py
  rmgpy/display.py
  rmgpy/exceptions.py
  rmgpy/quantityTest.py
  rmgpy/rmg/__init__.py
  rmgpy/rmg/input.py
  rmgpy/rmg/inputTest.py
  rmgpy/rmg/listener.py
  rmgpy/rmg/main.py
  rmgpy/rmg/mainTest.py
  rmgpy/rmg/model.py
  rmgpy/rmg/modelTest.py
  rmgpy/rmg/output.py
  rmgpy/rmg/outputTest.py
  rmgpy/rmg/pdep.py
  rmgpy/rmg/pdepTest.py
  rmgpy/rmg/react.py
  rmgpy/rmg/reactTest.py
  rmgpy/rmg/rmgTest.py
  rmgpy/rmg/settings.py
  rmgpy/rmgobjectTest.py
  scripts/checkModels.py
  scripts/convertFAME.py
  scripts/diffModels.py
  scripts/generateChemkinHTML.py
  scripts/generateFluxDiagram.py
  scripts/generateReactions.py
  scripts/generateTree.py
  scripts/isotopes.py
  scripts/machineWriteDatabase.py
  scripts/mergeModels.py
  scripts/simulate.py
  scripts/standardizeModelSpeciesNames.py
  scripts/thermoEstimator.py
Labels: Py3, Status: Review Needed

#1689 Python 3 compatibility change to /rmgpy/statmech
  rmgpy/statmech/__init__.py
  rmgpy/statmech/conformerTest.py
  rmgpy/statmech/rotationTest.py
  rmgpy/statmech/schrodingerTest.py
  rmgpy/statmech/torsionTest.py
  rmgpy/statmech/translationTest.py
  rmgpy/statmech/vibrationTest.py
Labels: Py3

#1707 Py3 Update (mjohnson541)
  environment_linux.yml
  environment_mac.yml
  environment_py3.yml
  environment_windows.yml
  rmgpy/data/base.py
  rmgpy/data/baseTest.py
  rmgpy/data/kinetics/__init__.py
  rmgpy/data/kinetics/common.py
  rmgpy/data/kinetics/database.py
  rmgpy/data/kinetics/depository.py
  rmgpy/data/kinetics/family.py
  rmgpy/data/kinetics/familyTest.py
  rmgpy/data/kinetics/groups.py
  rmgpy/data/kinetics/kineticsTest.py
  rmgpy/data/kinetics/library.py
  rmgpy/data/kinetics/libraryTest.py
  rmgpy/data/kinetics/rules.py
  rmgpy/data/reference.py
  rmgpy/data/rmg.py
  rmgpy/data/solvation.py
  rmgpy/data/solvationTest.py
  rmgpy/data/statmech.py
  rmgpy/data/statmechfit.py
  rmgpy/data/thermo.py
  rmgpy/data/thermoTest.py
  rmgpy/data/transport.py
  rmgpy/data/transportTest.py
  rmgpy/kinetics/__init__.py
  rmgpy/kinetics/arrheniusTest.py
  rmgpy/kinetics/chebyshevTest.py
  rmgpy/kinetics/diffusionLimited.py
  rmgpy/kinetics/diffusionLimitedTest.py
  rmgpy/kinetics/falloffTest.py
  rmgpy/kinetics/kineticsdataTest.py
  rmgpy/kinetics/tunnelingTest.py
  rmgpy/kinetics/uncertaintiesTest.py
  rmgpy/pdep/__init__.py
  rmgpy/pdep/collisionTest.py
  rmgpy/pdep/configurationTest.py
  rmgpy/pdep/draw.py
  rmgpy/pdep/network.py
  rmgpy/pdep/networkTest.py
  rmgpy/rmg/pdep.py
  rmgpy/solver/__init__.py
  rmgpy/solver/baseTest.py
  rmgpy/solver/liquidTest.py
  rmgpy/solver/simpleTest.py
  rmgpy/solver/surfaceTest.py
  rmgpy/statmech/ndTorsions.py
  rmgpy/statmech/ndTorsionsTest.py
  testing/databaseTest.py
Labels: Py3, Status: Review Needed
