Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2019-03, with the labels that each got.

#1548 Updated documentation links in README.md
  README.md
Labels: Arkane, Type: Documentation

#1544 Consolidate Arkane documentation input file
  documentation/source/users/arkane/index.rst
  documentation/source/users/arkane/input.rst
  documentation/source/users/arkane/input_pdep.rst
Labels: Arkane, Type: Code Organization, Type: Documentation

#1566 Corrected `raise Error as e` syntax
  arkane/input.py
  arkane/statmech.py
  external/cinfony/webel.py
  rmgpy/chemkin.pyx
  rmgpy/data/base.py
  rmgpy/data/kinetics/family.py
  rmgpy/data/rmg.py
  rmgpy/molecule/draw.py
  rmgpy/molecule/resonance.py
  rmgpy/qm/molecule.py
  rmgpy/qm/mopacTest.py
  rmgpy/qm/qmdata.py
  rmgpy/qm/symmetry.py
  rmgpy/reaction.py
  rmgpy/reduction/input.py
  rmgpy/reduction/optimizationTest.py
  rmgpy/rmg/input.py
  rmgpy/rmg/model.py
  rmgpy/rmg/parreactTest.py
  rmgpy/scoop_framework/framework.py
  rmgpy/scoop_framework/util.py
  rmgpy/scoop_framework/utilTest.py
  rmgpy/solver/base.pyx
  rmgpy/species.py
  rmgpy/thermo/thermoengine.py
  rmgpy/thermo/thermoengineTest.py
  rmgpy/tools/regression.py
  testing/databaseTest.py
Labels: Py3

#1562 Enhanced error message of Arkane GaussianLog loadGeometry
  arkane/gaussian.py
Labels: Arkane

#1567 Documentation fixes and additions - installation related
  Arkane.py
  documentation/source/users/rmg/faq.rst
  documentation/source/users/rmg/installation/anacondaDeveloper.rst
  documentation/source/users/rmg/installation/anacondaDeveloperWindows.rst
  documentation/source/users/rmg/installation/anacondaUser.rst
  documentation/source/users/rmg/installation/anacondaUserWindows.rst
  documentation/source/users/rmg/installation/dependencies.rst
  documentation/source/users/rmg/installation/faq.rst
  documentation/source/users/rmg/installation/index.rst
  documentation/source/users/rmg/installation/linuxSubsystem.rst
  documentation/source/users/rmg/installation/virtualMachineSetup.rst
  documentation/source/users/rmg/installation/windowsEnvironment.rst
Labels: Complexity: Low, Status: Review Needed, Type: Documentation
