Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2019-07, with the labels that each got.

#1645 Delete simulation files after unit testing
  rmgpy/tools/simulateTest.py
Labels: Complexity: Low, Status: Review Needed, Type: Bug, Type: Testing

#1650 Modified the Arkane ScanLog documentation
  arkane/common.py
  documentation/source/users/arkane/input.rst
Labels: Arkane, Type: Documentation

#1605 Refactor energy corrections in Arkane and implement new bond additivity correction type
  arkane/encorr/__init__.py
  arkane/encorr/corr.py
  arkane/encorr/data.py
  arkane/encorr/mbac.py
  arkane/encorr/pbac.py
  arkane/exceptions.py
  arkane/input.py
  arkane/statmech.py
  documentation/source/users/arkane/input.rst
Labels: Arkane, Status: Discussion Needed, Status: Review Needed

#1653 Added two frequency scaling factors to Arkane
  arkane/statmech.py
Labels: Arkane

#1643 Recursive as dictionary
  arkane/common.py
  arkane/commonTest.py
  arkane/statmech.py
  rmgpy/quantity.pxd
  rmgpy/quantity.py
  rmgpy/quantityTest.py
  rmgpy/rmgobject.pxd
  rmgpy/rmgobject.pyx
  rmgpy/rmgobjectTest.py
  rmgpy/statmech/rotation.pyx
  rmgpy/statmech/torsion.pyx
  rmgpy/statmech/translation.pyx
  rmgpy/thermo/model.pxd
  rmgpy/thermo/model.pyx
  rmgpy/thermo/nasa.pxd
  rmgpy/thermo/nasa.pyx
  rmgpy/thermo/nasaTest.py
  rmgpy/thermo/wilhoit.pyx
  rmgpy/thermo/wilhoitTest.py
Labels: Arkane, Complexity: High, Status: Review Needed, Type: Bug, Type: Code Organization

#1656 Fluorine fixes
  rmgpy/molecule/atomtype.py
Labels: Complexity: Low, Status: Review Needed, Type: Bug

#1657 Fix frequencyScaleFactor in Arkane examples
  arkane/commonTest.py
  examples/arkane/reactions/23dimethylpropoxy/dimetpropoxy.py
  examples/arkane/reactions/23dimethylpropoxy/dimetpropoxy_betasci.py
  examples/arkane/species/C2H6/C2H6.py
  examples/arkane/species/C2H6/input.py
Labels: Arkane, Complexity: Low, Type: Risk of Error, Type: User Experience

#1658 Fix pressure dependent network generation in RMG jobs
  arkane/explorerTest.py
  rmgpy/rmg/model.py
  rmgpy/rmg/modelTest.py
  rmgpy/rmg/parreactTest.py
  rmgpy/rmg/react.py
  rmgpy/rmg/reactTest.py
Labels: Emergency, Status: Review Needed, Topic: PDep, Type: Bug

#1651 Element count from conformer
  arkane/commonTest.py
  arkane/statmech.py
  arkane/thermo.py
  arkane/thermoTest.py
Labels: Arkane, Topic: Chemkin, Type: User Experience

#1659 Support reversing PDepArrhenius objects containing MultiArrhenius rates
  rmgpy/data/kinetics/groups.py
  rmgpy/kinetics/arrhenius.pyx
  rmgpy/kinetics/chebyshev.pyx
  rmgpy/kinetics/surface.pyx
  rmgpy/reaction.pxd
  rmgpy/reaction.py
  rmgpy/reactionTest.py
  rmgpy/rmg/modelTest.py
  rmgpy/statmech/torsion.pyx
  rmgpy/thermo/wilhoit.pyx
Labels: Complexity: Low, Status: Review Needed, Type: Error

#1665 Debug travis
  .travis.yml
  rmgpy/rmg/reactTest.py
Labels: BeforePy3, Complexity: Low, Type: Bug, Type: Testing

#1607 Arkane output fixes
  arkane/commonTest.py
  arkane/encorr/corr.py
  arkane/gaussian.py
  arkane/gaussianTest.py
  arkane/kinetics.py
  arkane/log.py
  arkane/main.py
  arkane/molpro.py
  arkane/molproTest.py
  arkane/qchem.py
  arkane/statmech.py
  arkane/thermo.py
  documentation/source/users/arkane/input.rst
  documentation/source/users/arkane/running.rst
  rmgpy/pdep/configuration.pxd
  rmgpy/pdep/configuration.pyx
  rmgpy/quantity.py
Labels: Arkane, Type: Code Organization, Type: User Experience
