Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2019-01, with the labels that each got.

#1513 Allow hasStatMech to assess atomic molecules
  rmgpy/species.py
Labels: Arkane, Complexity: Low, Status: Review Needed, Type: Bug

#1521 Processing monoatomic species in Arkane/molpro
  arkane/molpro.py
  arkane/statmech.py
Labels: Arkane

#1528 Minor: Modified saving proceedure of species_dictionary.txt in Arkane
  arkane/thermo.py
Labels: Arkane

#1531 VM Windows Install
  documentation/source/_templates/layout.html
  documentation/source/users/rmg/installation/anacondaDeveloper.rst
  documentation/source/users/rmg/installation/anacondaDeveloperWindows.rst
  documentation/source/users/rmg/installation/anacondaUser.rst
  documentation/source/users/rmg/installation/anacondaUserWindows.rst
  documentation/source/users/rmg/installation/images/Ubuntu1804.png
  documentation/source/users/rmg/installation/images/VBoxInstall_1.png
  documentation/source/users/rmg/installation/images/VBoxInstall_2.png
  documentation/source/users/rmg/installation/images/VBoxInstall_3.png
  documentation/source/users/rmg/installation/images/VBoxInstall_4.png
  documentation/source/users/rmg/installation/images/VBoxInstall_5.png
  documentation/source/users/rmg/installation/images/VBoxInstall_6.png
  documentation/source/users/rmg/installation/images/VBoxInstall_7.png
  documentation/source/users/rmg/installation/images/VBoxNew.png
  documentation/source/users/rmg/installation/images/VBox_Erase_Disk_Okay.png
  documentation/source/users/rmg/installation/images/VBox_IDE.png
  documentation/source/users/rmg/installation/images/VBox_IDE_complete.png
  documentation/source/users/rmg/installation/images/VBox_Install_Ubuntu.png
  documentation/source/users/rmg/installation/images/VBox_Normal_Install.png
  documentation/source/users/rmg/installation/images/VBox_Settings.png
  documentation/source/users/rmg/installation/images/VBox_Start.png
  documentation/source/users/rmg/installation/images/VBox_VDI.png
  documentation/source/users/rmg/installation/images/VBox_VM_name.png
  documentation/source/users/rmg/installation/images/VBox_browse_for_disk.png
  documentation/source/users/rmg/installation/images/VBox_choose_iso_1.png
  documentation/source/users/rmg/installation/images/VBox_choose_iso_2.png
  documentation/source/users/rmg/installation/images/VBox_cpus.png
  documentation/source/users/rmg/installation/images/VBox_create_hard_disk.png
  documentation/source/users/rmg/installation/images/VBox_disk_size.png
  documentation/source/users/rmg/installation/images/VBox_dynamic_storage.png
  documentation/source/users/rmg/installation/images/VBox_memory.png
  documentation/source/users/rmg/installation/images/VBox_optical_disk.png
  documentation/source/users/rmg/installation/images/VBox_partitions.png
  documentation/source/users/rmg/installation/images/VBox_video_mem.png
  documentation/source/users/rmg/installation/images/VMware_disk.png
  documentation/source/users/rmg/installation/images/VMware_iso.png
  documentation/source/users/rmg/installation/images/VMware_license.png
  documentation/source/users/rmg/installation/images/VMware_new.png
  documentation/source/users/rmg/installation/images/VMware_typical.png
  documentation/source/users/rmg/installation/images/VirtualBoxDownload.png
  documentation/source/users/rmg/installation/index.rst
  documentation/source/users/rmg/installation/virtualMachineSetup.rst
Labels: Platform: Windows, Status: Review Needed, Topic: Installation, Type: Documentation

#1535 Set KERAS_BACKEND=theano before importing DDE
  rmgpy/ml/estimator.py
Labels: Complexity: Low, Platform: macOS, Status: Review Needed

#1526 Determine the rotor symmetry number from the potential scan
  arkane/commonTest.py
  arkane/data/NCC_CRotor.out
  arkane/data/NCC_NRotor.out
  arkane/gaussian.py
  arkane/statmech.py
  arkane/statmechTest.py
  documentation/source/users/arkane/input.rst
  documentation/source/users/arkane/input_pdep.rst
  examples/arkane/species/Benzyl/benzyl.py
  examples/arkane/species/C2H5/ethyl.py
  examples/arkane/species/C2H5/input.py
  examples/arkane/species/C2H6/C2H6.py
Labels: Arkane

#1540 BugFix: Empty list as val in RMGObject.as_dict() and .make_object()
  rmgpy/rmgobject.pyx
  rmgpy/rmgobjectTest.py
Labels: Arkane

#1534 Update the RMG Installation Documentation
  documentation/source/users/rmg/installation/anacondaDeveloper.rst
  documentation/source/users/rmg/installation/anacondaUser.rst
  documentation/source/users/rmg/installation/images/VBox_bidirectional_option.png
  documentation/source/users/rmg/installation/images/Virtualization_Enabled.png
  documentation/source/users/rmg/installation/index.rst
  documentation/source/users/rmg/installation/linuxSubsystem.rst
  documentation/source/users/rmg/installation/virtualMachineSetup.rst
  rmg.py
Labels: Complexity: Low, Platform: Windows, Status: Review Needed, Topic: Installation, Type: Documentation

#1538 Non-cat changes to master from cat branch, 1
  rmgpy/chemkin.pyx
  rmgpy/data/kinetics/database.py
  rmgpy/data/thermo.py
  rmgpy/molecule/atomtype.py
  rmgpy/molecule/draw.py
  rmgpy/molecule/graphTest.py
  rmgpy/molecule/vf2.pyx
  rmgpy/quantity.pxd
  rmgpy/quantity.py
  rmgpy/quantityTest.py
  rmgpy/rmg/output.py
  rmgpy/solver/base.pxd
  rmgpy/solver/simple.pyx
  rmgpy/thermo/nasa.pyx
  setup.py
  testing/databaseTest.py
Labels: Status: Review Needed
