Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2019-04, with the labels that each got.

#1573 RMG-NLP
  environment_linux.yml
  environment_mac.yml
  environment_windows.yml
  rmgpy/rmg/main.py
Labels: Complexity: Low, Status: Review Needed, Type: User Experience

#1461 Automatic Tree Generation Part 3
  .conda/meta.yaml
  environment_linux.yml
  environment_mac.yml
  environment_windows.yml
  rmgpy/data/kinetics/common.py
  rmgpy/data/kinetics/family.py
  rmgpy/data/kinetics/familyTest.py
  rmgpy/data/kinetics/groups.py
  rmgpy/kinetics/arrhenius.pxd
  rmgpy/kinetics/arrhenius.pyx
  rmgpy/kinetics/uncertainies.py
  rmgpy/molecule/element.py
  rmgpy/molecule/graph.pyx
  rmgpy/molecule/group.pxd
  rmgpy/molecule/group.py
  rmgpy/molecule/groupTest.py
  rmgpy/molecule/molecule.pxd
  rmgpy/molecule/molecule.py
  rmgpy/molecule/moleculeTest.py
  rmgpy/reaction.pxd
  rmgpy/reaction.py
  rmgpy/reactionTest.py
  rmgpy/species.pxd
  rmgpy/species.py
Labels: Complexity: Very High, Epic, Status: Review Needed, Topic: Kinetics, Type: Feature

#1545 Network Explorer Part 2
  arkane/data/methoxy_explore.py
  arkane/explorer.py
  arkane/explorerTest.py
  arkane/input.py
  arkane/mainTest.py
  arkane/pdep.py
  documentation/source/users/arkane/input_explorer.rst
  examples/arkane/explorer/methoxy/input.py
  examples/arkane/explorer/methyl+formaldehyde/input.py
  examples/arkane/networks/methoxy/README.txt
  examples/arkane/networks/methoxy/run-arkane
Labels: Arkane, Complexity: Low, Status: Review Needed

#1571 Auto optical isomer ex symmetry arkane
  arkane/gaussian.py
  arkane/gaussianTest.py
  arkane/log.py
  arkane/molpro.py
  arkane/molproTest.py
  arkane/qchem.py
  arkane/qchemTest.py
  arkane/statmech.py
Labels: Arkane

#1588 Move where we start calling the reactantStructure the productStructure
  rmgpy/data/kinetics/family.py
Labels: Complexity: Low, Type: Code Organization

#1558 Allow cosolvents to be defined in a solvent library
  rmgpy/data/solvation.py
  rmgpy/data/solvationTest.py
  rmgpy/rmg/main.py
  rmgpy/species.pxd
  rmgpy/species.py
Labels: Topic: Liquid
