Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2019-06, with the labels that each got.

#1459 Reaction generation using multiprocessing
  arkane/explorerTest.py
  documentation/source/users/rmg/running.rst
  rmg.py
  rmgpy/data/kinetics/database.py
  rmgpy/data/kinetics/family.py
  rmgpy/qm/main.py
  rmgpy/qm/mainTest.py
  rmgpy/rmg/main.py
  rmgpy/rmg/model.py
  rmgpy/rmg/modelTest.py
  rmgpy/rmg/parreactTest.py
  rmgpy/rmg/pdep.py
  rmgpy/rmg/react.py
  rmgpy/rmg/reactTest.py
  rmgpy/rmg/rmgTest.py
  rmgpy/scoop_framework/util.py
  rmgpy/species.py
  rmgpy/thermo/thermoengine.py
  rmgpy/thermo/thermoengineTest.py
Labels: Complexity: Medium, Epic, Topic: Parallel, Topic: Performance, Type: Feature

#1612 Derive the frequency scaling factor in Arkane from the frequency level
  arkane/input.py
  arkane/inputTest.py
  arkane/statmech.py
  documentation/source/users/arkane/input.rst
  examples/arkane/explorer/methyl+formaldehyde/input.py
  examples/arkane/reactions/H+C2H4=C2H5/input.py
  examples/arkane/reactions/NH2+N2H3=NH+N2H4/input.py
  examples/arkane/species/N4H6/N4H6/N4H6.py
  examples/arkane/species/N4H6/N4H6/freq.log
  examples/arkane/species/N4H6/N4H6/sp.out
  examples/arkane/species/N4H6/input.py
Labels: Arkane

#1615 Don't hard-code for CBS-QB3-Paraskevas in process_model_chemistry
  arkane/input.py
  arkane/inputTest.py
Labels: Arkane

#1617 Small catalysis related fixes for website operation
  rmgpy/data/kinetics/family.py
  rmgpy/data/thermo.py
  rmgpy/kinetics/surface.pxd
  rmgpy/kinetics/surface.pyx
  rmgpy/molecule/util.py
Labels: Status: Review Needed, Topic: Catalysis

#1575 Improve error/warning messages concerning energy barriers in Arkane
  arkane/kinetics.py
  arkane/pdep.py
  rmgpy/kinetics/tunneling.pyx
Labels: Arkane, Module: Logging, Type: User Experience

#1620 Calculate the translational mode if doesn't exist
  arkane/statmech.py
Labels: Arkane, Type: Bug

#1623 Update environment files, including RDKit and Cantera versions
  environment_linux.yml
  environment_mac.yml
  environment_windows.yml
  rmgpy/molecule/moleculeTest.py
  rmgpy/tools/canteraModel.py
Labels: Type: Environment

#1619 Scaling zpe
  arkane/gaussian.py
  arkane/log.py
  arkane/molpro.py
  arkane/qchem.py
  arkane/statmech.py
  documentation/source/users/arkane/input.rst
Labels: Arkane

#1629 Reaction Mechanism Simulator YAML File Generation
  requirements.txt
  rmgpy/rmg/main.py
  rmgpy/yml.py
Labels: Complexity: Low, Type: Feature, Type: User Experience

#1644 Fix Travis builds by adding in missing miniconda dependencies
  environment_linux.yml
  environment_mac.yml
  environment_windows.yml
Labels: Complexity: Low, Emergency, Status: Review Needed, Type: Error, Type: Testing
