Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2020-04, with the labels that each got.

#1914 BugFix: Corrected determine_qm_software for Orca
  arkane/util.py
  arkane/utilTest.py
Labels: Arkane, Type: Bug

#1906 Liquid test improvements
  arkane/explorer.py
  rmgpy/solver/liquidTest.py
  rmgpy/tools/generatereactionsTest.py
Labels: Complexity: Low, Good First Issue, Status: Ready for Review, Type: Bug, Type: Testing

#1921 BugFix: Make rank 1 accuracy 0.2 kcal/mol instead of 0 kcal/mol
  rmgpy/kinetics/uncertainties.pyx
Labels: Complexity: Low, Topic: Kinetics, Type: Bug

#1924 Gav comments
  rmgpy/data/thermo.py
  rmgpy/data/thermoTest.py
  rmgpy/thermo/thermodata.pxd
  rmgpy/thermo/thermodata.pyx
  rmgpy/thermo/thermodataTest.py
Labels: T3, Topic: Thermo, Type: Feature

#1879 Make arkane.ess.log.Log an Abstract Class
  arkane/commonTest.py
  arkane/ess/__init__.py
  arkane/ess/adapter.py
  arkane/ess/factory.py
  arkane/ess/factoryTest.py
  arkane/ess/gaussian.py
  arkane/ess/gaussianTest.py
  arkane/ess/molpro.py
  arkane/ess/orca.py
  arkane/ess/qchem.py
  arkane/ess/terachem.py
  arkane/pdepTest.py
  arkane/statmech.py
  rmgpy/statmech/ndTorsions.py
  rmgpy/statmech/ndTorsionsTest.py
Labels: Arkane, Status: Under Revision, Type: Code Organization

#1922 Add A units for trimolecular reactions in ArrheniusBM model fits
  rmgpy/kinetics/arrhenius.pyx
Labels: Complexity: Low

#1930 Add frequency scaling factor for wb97xd/def2svp
  arkane/statmech.py
Labels: Arkane, Complexity: Low

#1931 BugFix: load_negative_frequency() undesired error behavior
  arkane/ess/gaussian.py
Labels: Complexity: Low, Status: Ready for Review, Type: Bug

#1789 Updates to RMG profiling
  .conda/meta.yaml
  environment.yml
  examples/rmg/commented/input.py
  requirements.txt
  rmg.py
  rmgpy/rmg/input.py
  rmgpy/rmg/main.py
  rmgpy/rmg/mainTest.py
  rmgpy/rmg/rmgTest.py
  rmgpy/rmg/test_data/mainTest/RMG.profile
  rmgpy/rmg/test_data/mainTest/superminimal_input.py
  rmgpy/util.py
Labels: Complexity: Low, Status: Ready for Review, Topic: Performance

#1933 Fix indexing while merging models
  rmgpy/tools/mergemodels.py
  rmgpy/tools/mergemodelsTest.py
Labels: Module: Scripts

#1561 Enable Automatic Isodesmic Reaction Generation for Arkane
  arkane/common.py
  arkane/data/species/reference_species_example.yml
  arkane/encorr/data.py
  arkane/encorr/isodesmic.py
  arkane/encorr/isodesmicTest.py
  arkane/encorr/reference.py
  arkane/encorr/referenceTest.py
  arkane/ess/qchem.py
  arkane/input.py
  arkane/statmech.py
  documentation/source/users/arkane/input.rst
  examples/arkane/species/Pentyl_isodesmic/Pentyl.py
  examples/arkane/species/Pentyl_isodesmic/input.py
  examples/arkane/species/Pentyl_isodesmic/pentyl.out
  examples/arkane/species/Pentyl_isodesmic/pentyl_freq.out
  requirements.txt
Labels: Arkane, Complexity: Medium, Status: Ready for Review, Topic: Thermo, Twin RMG-database PR, Type: Feature

#1936 Use Kekulized structures for Transport Estimation
  rmgpy/data/transport.py
  rmgpy/data/transportTest.py
Labels: Topic: Transport

#1934 Profiler tools doc
  documentation/source/users/rmg/input.rst
  documentation/source/users/rmg/running.rst
Labels: Type: Documentation
