Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2020-02, with the labels that each got.

#1890 Added a freq scale factor for apfd/def2tzvp
  arkane/statmech.py
Labels: Arkane

#1892 Temperature dependent solvation thermochemistry calculation
  documentation/source/users/rmg/images/T_dep_solvation_energy.png
  documentation/source/users/rmg/liquids.rst
  ipython/temperature_dependent_solvation_free_energy.ipynb
  rmgpy/data/solvation.py
  rmgpy/data/solvationTest.py
Labels: Twin RMG-database PR

#1888 Detect and handle NaNs in solve_ss_network
  rmgpy/rmg/pdep.py
Labels: Arkane, Status: Ready for Review, Type: Bug

#1470 Add option to ignore atom type errors when making molecules
  rmgpy/molecule/converter.pxd
  rmgpy/molecule/converter.py
  rmgpy/molecule/molecule.pxd
  rmgpy/molecule/molecule.py
  rmgpy/molecule/translator.pxd
  rmgpy/molecule/translator.py
  rmgpy/species.pxd
  rmgpy/species.py
Labels: Complexity: Low, Status: Ready for Review
