Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2021-06, with the labels that each got.

#2143 Remove file_format kwarg from plt.savefig
  ipython/kinetics_library_to_training_tools.py
Labels: Complexity: Low, Status: Ready for Review, Type: Deprecation, Type: Risk of Error

#2144 Have WSL users install graphviz system wide
  documentation/source/users/rmg/installation/linuxSubsystem.rst
Labels: Complexity: Low, Good First Issue, Platform: Windows, Status: Ready for Review, Topic: Installation, Type: Documentation

#2132 Some fixes to documentation (and a CI test)
  .conda/meta.yaml
  .github/workflows/docs.yml
  README.md
  documentation/source/_templates/index.html
  documentation/source/_templates/layout.html
  documentation/source/latex-api.rst
  documentation/source/latex-rmg.rst
  documentation/source/reference/arkane/essadapter.rst
  documentation/source/reference/arkane/essfactory.rst
  documentation/source/reference/arkane/index.rst
  documentation/source/reference/arkane/log.rst
  documentation/source/reference/arkane/util.rst
  documentation/source/reference/kinetics/wigner.rst
  documentation/source/reference/molecule/adjlist.rst
  documentation/source/theory/pdep/introduction.rst
  documentation/source/theory/pdep/master_equation.rst
  documentation/source/users/arkane/faq.rst
  documentation/source/users/arkane/input.rst
  documentation/source/users/arkane/installation.rst
  documentation/source/users/arkane/introduction.rst
  documentation/source/users/rmg/database/index.rst
  documentation/source/users/rmg/database/modification.rst
  documentation/source/users/rmg/input.rst
  documentation/source/users/rmg/installation/dependencies.rst
  documentation/source/users/rmg/installation/linux.rst
  documentation/source/users/rmg/installation/linuxSubsystem.rst
  documentation/source/users/rmg/installation/macos.rst
  documentation/source/users/rmg/installation/virtualMachineSetup.rst
  documentation/source/users/rmg/modules/diffModels.rst
  documentation/source/users/rmg/modules/generateChemkinHTML.rst
  documentation/source/users/rmg/modules/generateFluxDiagram.rst
  documentation/source/users/rmg/modules/generateReactions.rst
  documentation/source/users/rmg/modules/mergeModels.rst
  documentation/source/users/rmg/modules/thermoEstimation.rst
  documentation/source/users/rmg/output.rst
  documentation/source/users/rmg/releaseNotes.rst
  documentation/source/users/rmg/species.rst
  documentation/source/users/rmg/thermo.rst
  external/README
  rmgpy/data/base.py
  rmgpy/molecule/filtration.py
  rmgpy/molecule/graph.pyx
  rmgpy/molecule/molecule.py
  rmgpy/molecule/vf2.pyx
  rmgpy/pdep/collision.pyx
  rmgpy/qm/symmetry.py
  rmgpy/reaction.py
  rmgpy/species.py
Labels: Status: Ready for Review, Type: Documentation

#2162 Added a save_order attribute to some methods, and make sure it is properly being passed around
  .gitignore
  rmgpy/data/kinetics/common.py
  rmgpy/data/kinetics/family.py
  rmgpy/molecule/filtration.py
  rmgpy/molecule/molecule.pxd
  rmgpy/molecule/molecule.py
  rmgpy/molecule/resonance.pxd
  rmgpy/molecule/resonance.py
  rmgpy/reaction.pxd
  rmgpy/reaction.py
  rmgpy/species.pxd
  rmgpy/species.py
Labels: Complexity: Low, Topic: ARC

#1974 Twin RP for merged all 2+2 cycloaddition families
  rmgpy/rmg/test_data/restartTest/seed_w_filters/filters/filters.h5
  rmgpy/rmg/test_data/restartTest/seed_w_filters/filters/species_map.yml
  rmgpy/rmg/test_data/restartTest/seed_w_filters/seed/dictionary.txt
  rmgpy/rmg/test_data/restartTest/seed_w_filters/seed/reactions.py
  rmgpy/rmg/test_data/restartTest/seed_w_filters/seed_edge/dictionary.txt
  rmgpy/rmg/test_data/restartTest/seed_w_filters/seed_edge/reactions.py
Labels: Status: Ready for Review, Twin RMG-database PR
