Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2023-04, with the labels that each got.

#2390 Move Regression Testing in to the CI
  .github/workflows/CI.yml
  .gitignore
  .travis.yml
  Makefile
  README.md
  test/regression/aromatics/input.py
  test/regression/aromatics/regression_input.py
  test/regression/liquid_oxidation/input.py
  test/regression/liquid_oxidation/regression_input.py
  test/regression/nitrogen/input.py
  test/regression/nitrogen/regression_input.py
  test/regression/oxidation/input.py
  test/regression/oxidation/regression_input.py
  test/regression/sulfur/input.py
  test/regression/sulfur/regression_input.py
  test/regression/superminimal/input.py
  trigger-rmg-tests.sh
Labels: Status: Ready for Review, Type: Testing

#2398 Correct Troe kinetics formula
  rmgpy/kinetics/falloff.pyx
  rmgpy/kinetics/falloffTest.py
Labels: Topic: Kinetics, Status: Ready for Review, Complexity: Low, Type: Bug, Priority: High

#2414 Updates to RMG-Py installation instructions documentation
  documentation/source/users/rmg/installation/anacondaDeveloper.rst
Labels: Type: Documentation, Status: Ready for Review, Complexity: Low

#2416 Fix Incorrect Rendering in RMG-Py Installation Documentation
  documentation/source/users/rmg/installation/anacondaDeveloper.rst
Labels: Type: Documentation, Status: Ready for Review
