Repository ReactionMechanismGenerator/RMG-Py, pull requests merged in 2023-05, with the labels that each got.

#2426 fix typo in updated docker installation docs
  documentation/source/users/rmg/installation/index.rst
Labels: Type: Documentation, Complexity: Low

#2288 Cantera version 2.6
  environment.yml
  rmgpy/kinetics/arrhenius.pyx
  rmgpy/kinetics/arrheniusTest.py
  rmgpy/kinetics/chebyshev.pyx
  rmgpy/kinetics/falloff.pyx
  rmgpy/reaction.py
  rmgpy/reactionTest.py
  rmgpy/rmg/main.py
  rmgpy/rmg/mainTest.py
  rmgpy/tools/canteramodel.py
  rmgpy/tools/data/various_kinetics/chem_annotated.inp
Labels: Status: Ready for Review

#2417 Upgrade to OpenMOPAC
  .github/workflows/CI.yml
  documentation/source/users/rmg/installation/anacondaDeveloper.rst
  documentation/source/users/rmg/installation/anacondaUser.rst
  documentation/source/users/rmg/installation/dependencies.rst
  environment.yml
  rmgpy/qm/gaussian.py
  rmgpy/qm/gaussianTest.py
  rmgpy/qm/mainTest.py
  rmgpy/qm/molecule.py
  rmgpy/qm/mopac.py
  rmgpy/qm/mopacTest.py
  rmgpy/qm/symmetry.py
Labels: Type: Deprecation, Complexity: Medium, Status: WIP

#2419 Update list of developers
  documentation/source/users/rmg/credits.rst
Labels: Type: Documentation

#1661 Test that we can make a sample molecule for every atom type.
  rmgpy/molecule/atomtype.py
  rmgpy/molecule/atomtypeTest.py
  rmgpy/molecule/group.py
Labels: Status: Ready for Review, Type: Testing

#2415 `CI.yml` and `environment.yml` updates to run CI on MacOS and Ubuntu
  .github/workflows/CI.yml
  documentation/source/users/rmg/installation/anacondaDeveloper.rst
  environment.yml
Labels: Status: Ready for Review

#2448 Fix documentation errors (and CI testing)
  .github/workflows/CI.yml
  .github/workflows/docs.yml
  documentation/Makefile
  documentation/source/users/arkane/credits.rst
  documentation/source/users/rmg/input.rst
  documentation/source/users/rmg/installation/linux.rst
  documentation/source/users/rmg/installation/macos.rst
  documentation/source/users/rmg/liquids.rst
  documentation/source/users/rmg/thermo.rst
  rmgpy/data/kinetics/family.py
  rmgpy/molecule/molecule.py
  rmgpy/pdep/collision.pyx
  rmgpy/thermo/thermodata.pyx
Labels: Type: Documentation, Status: Ready for Review, Type: Testing

#2246 Improve conda installation instructions
  documentation/source/users/rmg/installation/anacondaDeveloper.rst
  documentation/source/users/rmg/installation/anacondaUser.rst
Labels: Type: Documentation, Complexity: Low
